# Essential Libraries
numpy
pandas
scipy
geopandas
shapely
statsmodels
h5py
pyproj
rasterio
pyogrio

# Flask Web App
Flask
gunicorn
Werkzeug

# Database & APIs
requests
psycopg2-binary  # If using PostgreSQL
sqlite3           # If using SQLite

# Misc
tzdata
pytz
