# Essential Libraries
numpy
pandas
scipy
geopandas
shapely
statsmodels
h5py
pyproj
rasterio
pyogrio
matplotlib
xlrd
networkx
hydrofunctions
openpyxl
tables

# Flask Web App
Flask
Flask-Session==0.6.0
gunicorn
Werkzeug

# Database & APIs
requests
#psycopg2-binary  # If using PostgreSQL
#sqlite3           # If using SQLite

# Misc
tzdata
pytz
